* {
    font-family:"Meiryo";
}

body {
    margin:0;
}

li {
    list-style: none;
}

header {
    height:80px;
    width:100%;
    background-color:rgb(228, 226, 237);
}

.header-left {
    float: left;
    padding:0 25px;
    
}

.header-right {
    float: right;
    padding: 25px;
    
}

.top-wrapper {
    height:250px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.top-wrapper h1 {
    font-size:50px;
    color:rgb(213, 88, 87);
}

.container {
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    gap: 40px;
}

.main-wrapper {
    flex: 2;
}

.pokemon {
    display:flex;
    gap: 20px;
    border:1px solid gray;
    margin-bottom: 30px;
}

.pokemon img {
    width:150px;
    height: auto;
    display: flex;
}

.pokemon-right {
    margin:15px 0 0 30px;
}

.pokemon-title {
    font-weight: bold;
    font-size:20px;
    color: rgb(177, 8, 8);
}

.side-menu {
    flex: 1;
}

.profile-card {
    border: 1px solid gray;
    text-align: center;
    margin-bottom: 30px;
}

.profile-card img {
    width:150px;
    height: auto;
    
}

.name-title {
    border-bottom: 2px solid brown;
    color: rgb(177, 8, 8);
    font-size: 20px;
}

.category-list li {
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.article-img {
    width:150px;
    height: auto;
    display: flex;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 15px;
    }
    .container {
        flex-direction: column;
    }
}